apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: infra
  sources:
    - chart: grafana
      repoURL: https://grafana.github.io/helm-charts
      targetRevision: 10.3.0
      helm:
        values: |
          admin:
            existingSecret: "grafana-secret"
            userKey: grafana-user
            passwordKey: grafana-password
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
